@import "../../node_modules/tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'One Piece';
  src: url('/fonts/one-piece-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'One Piece', Arial, Helvetica, sans-serif;
}

.area-text {
  font-size: 3vw;
  font-family: 'One Piece', sans-serif;
}

.card {
  /*6.3cm x 8.8cm*/
  border-radius: 4.4%/ 3.15%;
  /*opacity: 60%;*/
}

.db-color {
  background-color: rgba(182, 85, 85, 0.5);
  border-radius: 8px;
  border: 2px solid rgb(188, 27, 27);
}
