@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'One Piece';
  src: url('/fonts/one piece font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.area-text {
  position: absolute;
  font-size: 3vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 80%;
  z-index: 0;
  font-family: 'One Piece', sans-serif;
  font-weight: bold;
  opacity: 0.4; /* optional: subtle background effect */
}

.card-wrapper {
  /*6.3cm x 8.8cm*/
  aspect-ratio: 63/88;
  position: relative;
  /*display: inline-block;*/
}

.card {
  /*6.3cm x 8.8cm*/
  width: 100% !important;
  height: 100% !important;
  border-radius: 4.4%/ 3.15%;

  opacity: 60%;
}

.game-areas {
  /*60cm x 35cm*/
  width: 100% !important;
  aspect-ratio: 60/35;
  background-image: url("/play_mats/playmat.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 2.5%;
  padding: 2.4%;
}

.life-character-leader-stage-deck {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 65%;
  gap: 2.5%;

  /*background-color: rgba(131, 204, 115, 0.5);*/
  /*border-radius: 8px;*/
  /*border: 2px solid rgba(200, 200, 200, 1);*/
}

.character-leader-stage-deck {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgba(182, 85, 85, 0.5);
  border-radius: 8px;
  border: 2px solid rgba(200, 200, 200, 1);
}

.leader-stage-deck {
  display: flex;
  flex-direction: row;
  gap: 4%;
  justify-content: end;
  /*height: 100%;*/
}

.life-area, .don-deck, .character-area, .leader-area, .stage-area, .deck, .cost-area
{
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 8px;
  border: 2px solid rgba(200, 200, 200, 1);
}

.life-area {
  position: relative;
  width: 17.17%;
  display: flex;
  justify-content: center;
  align-items: center; /* ✅ Vertically centers .life-stack */
}

.character-area {
  display: flex;
  justify-content: center;
  gap: 2%;
  align-items: center; /* ✅ Vertically centers .life-stack */
}

.leader-area, .stage-area, .deck {
  /*flex: 0 0 20%;*/
  /*flex-basis: 15%;*/
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.don-deck {
  width: 6.8%;
}

.play {

}